body {
    margin: auto;
    background-size: cover;
}

.heading {
    text-align: center;
    color:#d01f48e5;
    font-size: 30px;
    text-shadow: 2px 1px  #c9e8f1;
    font-family: 'Amita', serif;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
    color: #c9e8f1;
    font-size: 30px;
    font-family: 'Amita', serif;
}

.F {
    margin: auto;
    padding: 20px;
    /* display: flex; */
   
    
}

.F img {
    height: 400px;
    width: 400px;
}

