body {
    background-color: rgba(0, 0, 0, 0.692);
}

.heading {
    text-align: center;
}

.container {
    background-color: rgb(125, 121, 121);
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.F {
    background-color: rgb(36, 172, 36);
    height: 200px;
    width: 200px;
}

.T {
    background-color: rgb(56, 56, 202);
    height: 200px;
    width: 200px;
}

.D {
    background-color: rgb(213, 63, 63);
    height: 200px;
    width: 200px;
}
