body {
    background-size: cover;
}

.heading {
    text-align: center;
    color:#c6e4e9;
}

.recipes {
    margin: auto;
    display: block;
}

ul {
    text-align: center;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #338ea0;
}

.F img {
    height: 200px;
    width: 200px;
}

.F h2, h3 {
    text-align: center;
}


